body {
    font-family: sans-serif;
}

header {
    background-color: #0776A0;
}

 header img {
    font-family: Peralta;
    font-size: 36px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 5px;
}

h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
}

header a {
    border-radius: 10px;
    font-size: 36px;
    text-decoration: none;
    background-color: #FFB600;
    padding: 2px 5px 2px 5px;
 }

.p_1 {
    padding: 10px 20px 10px 10px;
}

.p_2 {
    color: #FF2C00;
    font-size: 36px;
    font-family: Montserrat;
    margin-left: 20px;
}

ul {
    font-size: 24px;
    font-family: Montserrat;
    list-style: url("https://mars.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
    margin-left: 20px;
}

.img_1 {
    margin-left: 20px;
}

.h1_1 {
    font-size: 80px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer {
    background-color: #024C68;
    color: white;
    padding: 15px 0px 15px 60px;
}


